.button-module__button___hf2qg_marketplace {
  color: var(--spice-subtext)
}

.main-entityHeader-backgroundColor {
  background-color: #00000000 !important;
}

.main-home-homeHeader {
  background-color: #00000000 !important;
  background-image: none !important;
}

.Root__globalNav {
  background-color: #00000000 !important;
}

.ffFwfKcPDbmAPLXzxzKq:before {
  background-color: #00000000 !important;
}

.I0bVSxvqA3rm5HvciMap {
  --bgColor: #00000000 !important;
}

.I0bVSxvqA3rm5HvciMap::after {
  --bgColor: #00000000 !important;
}

.PeLrpasyfBW8ql_bmoAi {
  background-color: #00000000 !important;
  background-image: none !important;
}

.PkOz5g82CaoKk1J3GX0e  {
  background-color: #00000000 !important;
  background-image: none !important;
}

.sv5suqIPUwjgUF_BzM41 {
  transform: none !important;
}

.Root__top-container {
  background: linear-gradient(180deg, var(--spice-sidebar-alt) 0%, var(--spice-sidebar) 100%);
  overflow: hidden;
}

.main-topBar-background {
  background-color: var(--spice-highlight) !important;
}

.Root__nav-bar {
  background-color: #00000000 !important;
}

.main-trackList-trackListRow:hover {
  background-color: var(--spice-highlight);
}

.main-playPauseButton-button {
  background-color: var(--spice-button);
}

.rX_OmqCngvY5ZCoYBZgb {
  background-color: #00000000 !important;
}

.main-yourLibraryX-entryPoints {
  background-color: #00000000 !important;
}

.marketplace-header {
  background-color: #00000000 !important;
}

.EmeHQXR87mUskYK6xEde {
  background-color: #00000000 !important;
}

.lyrics-lyrics-background {
  background-color: #00000000 !important;
}

.main-actionBarBackground-background {
  background-image: none;
  background-color: #00000000 !important;
  animation: none !important;
  -webkit-animation: none !important;
}

.main-entityHeader-overlay {
  background: none !important;
}

.main-entityHeader-background.main-entityHeader-gradient {
  opacity: 0.5;
  animation: none !important;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
  background-image: none !important;
  animation: none !important;
  -webkit-animation: none !important;
}

.pUNc2aOeOQANHrhYa1GU .RDZ61ETnag1ilfZTkVxe {
  color: #00000000 !important;
}

.playlist-playlist-playlistContent {
  background: #00000000 !important;
}

.Root__main-view {
  background-color: #00000000 !important;
}

.HD9s7U5E1RLSWKpXmrqx {
  background-color: #00000000;
  margin: auto;

}

.running-animation {
  animation-play-state: running !important;
}

.main-coverSlotCollapsed-container> :first-child> :first-child {

  background-color: #00000000;
}

.main-nowPlayingWidget-coverArt {

  background-color: #00000000;
}

.starrynight-bg-container {
  position: fixed;
  z-index: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.ffFwfKcPDbmAPLXzxzKq {
  background-color: #00000000 !important;
}

.main-yourLibraryX-libraryContainer {
  background-color: #00000000 !important;
}

@keyframes twinkle1 {
  0% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle2 {
  0% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle3 {
  0% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }
}

@keyframes twinkle4 {
  0% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  20% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }

  40% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  60% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  80% {
    box-shadow: 0px 0px 8px 2px var(--spice-star-glow);
  }

  100% {
    box-shadow: 0px 0px -8px 2px var(--spice-star-glow);
  }
}



.shootingstar {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--spice-shooting-star);
  border-radius: 50%;
  animation: animate 3s linear;
  left: initial;
  z-index: -1;
}

.shootingstar::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, var(--spice-shooting-star), transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
